@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron row">
    <div class="row">
        <h1 class="h1 text-center">Es hora de Viajar</h1>
        <div class="col-lg-12">
            <img src="~/Content/images/ima.jpg" class="img-responsive img-rounded" />
        </div>
        <div class="col-lg-12 text-center" style="margin-top:1.5rem">
            <div class="navbar-collapse" style="margin-left:auto;margin-right:auto">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Destinos", "Destino", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Viajeros", "Viajero", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>


</div>
