<div class="row">
    <div class="col-10" id="lista">
        <h1  class="text-center" style="font-weight:600; font-size:5.5rem">Viajes</h1>
        <button id="CraarRegstro" class="btn btn-primary" onclick="CrearRegistro()">Crear Viaje</button>
        <table class="table table-striped  table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Precio</th>
                    <th>Fecha Viaje</th>
                    <th>Nombre Viajero</th>
                    <th>DNI Viajero</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-10" id="editado" style="display:none">
        <h4>Editar / Registrar Viaje</h4>
        <form class="form-group" id="editForm">
            <input id="editViajeID" type="hidden" name="ViajeID" />
            <p><label>Precio</label><input id="editPrecio" name="Precio" class="form-control" /></p>
            <p><label>Fecha Viaje</label><input id="editFecha_Viaje" name="Fecha_Viaje" class="form-control" /></p>
            <p>
                <label>Nombre Viajero</label>
                <select id="editNombreViajero" name="Nombre" class="form-control"></select>
            </p>
            <p>
                <label>Destino</label>
                <select id="editCiudadDestino" name="Ciudad" class="form-control"></select>
            </p>
            <button id="submitEdit" class="btn btn-primary" onclick="Guardar()">Guardar</button>
        </form>
    </div>
</div>

@*<input id="editNombreViajero" name="Nombre" class="form-control" />*@

@* <input id="editCiudadDestino" name="Ciudad" class="form-control" /> *@